body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

h2 {
    font-size: 36px;
    margin: 0;
}

h3 {
    font-size: 24px;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 0;
}

.sign-up {
    display: flex;
    padding: 8px 26px;
    justify-content: center;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    width: fit-content;
    font-weight: 600;
    flex-shrink: 0;
}

.outline {
    border-style: solid;
    border-color: #F9FAF8;
    height: fit-content;
}

.nooutline {
    border: 0;
}

/* header */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 20px 150px;
}

.logo {
    color: #F9FAF8;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-weight: 100;
}

/* hero */

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 100px 150px 120px;
    gap: 30px;
}

.left-box {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 600px;
}

.grey-box {
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: auto;
    height: 300px;
    min-width: 200px;
    padding: 15px;
}

/* information */

.text-info {
    margin-top: 50px;
    text-align: center;
}

.container-card {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    padding: 0 150px;
    justify-content: center;
    gap: 50px;
    margin-bottom: 130px;
}

.img-place {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    border-color: #3882F6;
    border-style: solid;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 160px;
    gap: 16px;
}

/* quote */

.quote {
    background-color: rgb(225, 230, 231);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 320px;
}

.text-quote {
    font-style: italic;
    font-weight: 5;
}

.text-author {
    align-self: flex-end;
    font-weight: 800;
}

/* call */

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 260px;
}

.call-card {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 40px 100px;
    background-color: #3882F6;
    border-radius: 10px;
    align-items: center;
    gap: 50px;
}

.call-text {
    color: #F9FAF8;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 30px 0;
}