body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

h2 {
    font-size: 36px;
    margin: 0;
}

h3 {
    font-size: 24px;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 0;
}

.sign-up {
    display: flex;
    padding: 8px 26px;
    justify-content: center;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    border: 0;
    width: fit-content;
}

/* header */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 20px 150px;
}

.logo {
    color: #F9FAF8;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-weight: 100;
}

/* hero */

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 100px 150px 120px;
    gap: 30px;
}

.left-box {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 600px;
}

.grey-box {
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: auto;
    height: 300px;
    min-width: 200px;
}


